CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7620=y
CONFIG_TARGET_ramips_mt7620_DEVICE_tplink_c2-v1=y
CONFIG_BUILD_PATENTED=y
CONFIG_OPENVPN_mbedtls_ENABLE_SERVER=n
CONFIG_OPENVPN_mbedtls_ENABLE_DEF_AUTH=y
CONFIG_OPENVPN_mbedtls_ENABLE_FRAGMENT=y
CONFIG_OPENVPN_mbedtls_ENABLE_LZ4=y
CONFIG_OPENVPN_mbedtls_ENABLE_LZO=y
CONFIG_OPENVPN_mbedtls_ENABLE_MULTIHOME=y
CONFIG_OPENVPN_mbedtls_ENABLE_PF=y
CONFIG_OPENVPN_mbedtls_ENABLE_PORT_SHARE=y
CONFIG_OPENVPN_mbedtls_ENABLE_SMALL=y
CONFIG_OPENVPN_openssl_ENABLE_SERVER=n
CONFIG_OPENVPN_openssl_ENABLE_DEF_AUTH=y
CONFIG_OPENVPN_openssl_ENABLE_FRAGMENT=y
CONFIG_OPENVPN_openssl_ENABLE_LZ4=y
CONFIG_OPENVPN_openssl_ENABLE_LZO=y
CONFIG_OPENVPN_openssl_ENABLE_MULTIHOME=y
CONFIG_OPENVPN_openssl_ENABLE_PF=y
CONFIG_OPENVPN_openssl_ENABLE_PORT_SHARE=y
CONFIG_OPENVPN_openssl_ENABLE_SMALL=y
CONFIG_PACKAGE_aria2=m
CONFIG_PACKAGE_ariang=m
CONFIG_PACKAGE_autossh=m
CONFIG_PACKAGE_badvpn=m
CONFIG_PACKAGE_cgi-io=m
CONFIG_PACKAGE_coreutils=m
CONFIG_PACKAGE_coreutils-stdbuf=m
CONFIG_PACKAGE_dnscrypt-proxy=m
CONFIG_PACKAGE_dnscrypt-proxy-resolvers=m
CONFIG_PACKAGE_ip-full=m
CONFIG_PACKAGE_ipset=m
CONFIG_PACKAGE_iptables-mod-conntrack-extra=m
CONFIG_PACKAGE_iptables-mod-ipopt=m
CONFIG_PACKAGE_kmod-crypto-aead=m
CONFIG_PACKAGE_kmod-crypto-crc32c=m
CONFIG_PACKAGE_kmod-crypto-ecb=m
CONFIG_PACKAGE_kmod-crypto-hash=m
CONFIG_PACKAGE_kmod-crypto-manager=m
CONFIG_PACKAGE_kmod-crypto-null=m
CONFIG_PACKAGE_kmod-crypto-pcompress=m
CONFIG_PACKAGE_kmod-crypto-sha1=m
CONFIG_PACKAGE_kmod-gre=m
CONFIG_PACKAGE_kmod-ifb=m
CONFIG_PACKAGE_kmod-ipt-conntrack-extra=m
CONFIG_PACKAGE_kmod-ipt-ipopt=m
CONFIG_PACKAGE_kmod-ipt-ipset=m
CONFIG_PACKAGE_kmod-ipt-raw=m
CONFIG_PACKAGE_kmod-iptunnel=m
CONFIG_PACKAGE_kmod-l2tp=m
CONFIG_PACKAGE_kmod-ledtrig-default-on=m
CONFIG_PACKAGE_kmod-ledtrig-heartbeat=m
CONFIG_PACKAGE_kmod-ledtrig-netdev=m
CONFIG_PACKAGE_kmod-ledtrig-timer=m
CONFIG_PACKAGE_kmod-lib-crc32c=m
CONFIG_PACKAGE_kmod-mppe=m
CONFIG_PACKAGE_kmod-nfnetlink=m
CONFIG_PACKAGE_kmod-pppol2tp=m
CONFIG_PACKAGE_kmod-pptp=m
CONFIG_PACKAGE_kmod-sched=m
CONFIG_PACKAGE_kmod-sched-cake=m
CONFIG_PACKAGE_kmod-sched-core=m
CONFIG_PACKAGE_kmod-tun=m
CONFIG_PACKAGE_kmod-udptunnel4=m
CONFIG_PACKAGE_kmod-udptunnel6=m
CONFIG_PACKAGE_libcap=m
CONFIG_PACKAGE_libelf=m
CONFIG_PACKAGE_libevdev=m
CONFIG_PACKAGE_libevent2=m
CONFIG_PACKAGE_libipset=m
CONFIG_PACKAGE_libiwinfo-lua=m
CONFIG_PACKAGE_liblua=m
CONFIG_PACKAGE_liblucihttp=m
CONFIG_PACKAGE_liblucihttp-lua=m
CONFIG_PACKAGE_liblzo=m
CONFIG_PACKAGE_libmbedtls=m
CONFIG_PACKAGE_libmnl=m
CONFIG_PACKAGE_libncurses=m
CONFIG_PACKAGE_libopenssl=m
CONFIG_PACKAGE_libreadline=m
CONFIG_PACKAGE_librt=m
CONFIG_PACKAGE_libsodium=m
CONFIG_PACKAGE_libsqlite3=m
CONFIG_PACKAGE_libstdcpp=m
CONFIG_PACKAGE_libubus-lua=m
CONFIG_PACKAGE_libudev-fbsd=m
CONFIG_PACKAGE_libuuid=m
CONFIG_PACKAGE_lua=m
CONFIG_PACKAGE_luci-app-openvpn=m
CONFIG_PACKAGE_luci-app-sqm=m
CONFIG_PACKAGE_luci-app-upnp=m
CONFIG_PACKAGE_luci-app-vpn-policy-routing=m
CONFIG_PACKAGE_luci-app-vpnbypass=m
CONFIG_PACKAGE_luci-base=m
CONFIG_PACKAGE_luci-compat=m
CONFIG_PACKAGE_luci-lib-ip=m
CONFIG_PACKAGE_luci-lib-jsonc=m
CONFIG_PACKAGE_luci-lib-nixio=m
CONFIG_PACKAGE_luci-mod-admin-full=m
CONFIG_PACKAGE_luci-mod-network=m
CONFIG_PACKAGE_luci-mod-status=m
CONFIG_PACKAGE_luci-mod-system=m
CONFIG_PACKAGE_luci-proto-ppp=m
CONFIG_PACKAGE_luci-proto-pppossh=m
CONFIG_PACKAGE_miniupnpd=m
CONFIG_PACKAGE_openssh-client=m
CONFIG_PACKAGE_openvpn-mbedtls=m
CONFIG_PACKAGE_openvpn-openssl=m
CONFIG_PACKAGE_p910nd=m
CONFIG_PACKAGE_ppp-mod-pppol2tp=m
CONFIG_PACKAGE_ppp-mod-pptp=m
CONFIG_PACKAGE_pppossh=m
CONFIG_PACKAGE_resolveip=m
CONFIG_PACKAGE_rpcd=m
CONFIG_PACKAGE_rpcd-mod-file=m
CONFIG_PACKAGE_rpcd-mod-iwinfo=m
CONFIG_PACKAGE_rpcd-mod-luci=m
CONFIG_PACKAGE_softethervpn-base=m
CONFIG_PACKAGE_softethervpn-client=m
CONFIG_PACKAGE_softethervpn5-client=m
CONFIG_PACKAGE_softethervpn5-libs=m
CONFIG_PACKAGE_sqm-scripts=m
CONFIG_PACKAGE_sshtunnel=m
CONFIG_PACKAGE_sstp-client=m
CONFIG_PACKAGE_tc=m
CONFIG_PACKAGE_terminfo=m
CONFIG_PACKAGE_uhttpd=m
CONFIG_PACKAGE_vpn-policy-routing=m
CONFIG_PACKAGE_vpnbypass=m
CONFIG_PACKAGE_zlib=m
CONFIG_SQLITE3_DYNAMIC_EXTENSIONS=y
CONFIG_SQLITE3_FTS3=y
CONFIG_SQLITE3_FTS4=y
CONFIG_SQLITE3_FTS5=y
CONFIG_SQLITE3_JSON1=y
CONFIG_SQLITE3_RTREE=y
